
.overlay {
	position: absolute;
}

/* -- wrapper -- */
.branding_animation {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 3.5vw;
  animation: brand_name 10s ease infinite alternate;
}

/* -- Overwrite Canvas default -- */
#defaultCanvas0 {
  height: 100% !important;
  width: 100% !important;
}

/* --branding -- */
.branding {
  font-family: "Viner Hand ITC";
  color: white;
  width: 100%;
  display: inline-block;
  text-align: center;
  z-index: 5;
}

/* -- logo -- */
.logo {
  position: absolute;
  z-index: 4;
  animation: size-pulse 15s infinite;
}

.animation_container {
	height: 40vh;
	width: 40vw;
	display: flex;
	position: relative;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}